$black : rgba(15, 8, 6, 1);

@font-face {
  font-family: 'MaisonNeue';
  src: url('../fonts/MaisonNeue-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MaisonNeue-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MaisonNeue-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/MaisonNeue-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MaisonNeue-Bold.svg#d7515c8903f80839201eea94ef008f5e') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'MaisonNeue';
  src: url('../fonts/MaisonNeue-Book.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MaisonNeue-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MaisonNeue-Book.woff') format('woff'), /* Modern Browsers */
       url('../fonts/MaisonNeue-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MaisonNeue-Book.svg#cfe9c4d435b13936a17ea5090528f1ab') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}
@font-face {
  font-family: 'MaisonNeue';
  src: url('../fonts/MaisonNeue-Demi.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MaisonNeue-Demi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MaisonNeue-Demi.woff') format('woff'), /* Modern Browsers */
       url('../fonts/MaisonNeue-Demi.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MaisonNeue-Demi.svg#83e42244382055676967b9123edd6fa4') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  500;
}

@font-face {
  font-family: 'MaisonNeue';
  src: url('../fonts/MaisonNeue-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MaisonNeue-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MaisonNeue-Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/MaisonNeue-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MaisonNeue-Light.svg#6f121ab30e14cbd298b48f56c3575fb7') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'MaisonNeue-Mono';
  src: url('../fonts/MaisonNeue-Mono.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MaisonNeue-Mono.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MaisonNeue-Mono.woff') format('woff'), /* Modern Browsers */
       url('../fonts/MaisonNeue-Mono.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MaisonNeue-Mono.svg#af2fa94b953e46dc77e59983b9e9c303') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}



.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
a {
  color: inherit;
  text-decoration: none;
}

*:focus {
  outline: none;
}
img {
  max-width: 100%;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
body, html{
  max-width: 100%;
}
body {
  font-family: 'MaisonNeue', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-size: cover;
  background-attachment: fixed;
  max-width: 100%;
  background: url(../images/grid-test.svg);
  background-size: 1200px;
  background-repeat-x: no-repeat;
  background-repeat: repeat-y;
  background-position: center;
  color: black;
  min-width: 1280px !important;
}
.container {
  max-width: 1280px;
  padding: 0 41px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}

.nd-header{
  padding-top: 26.5px;
  overflow: hidden;
  .nd-logo {
    float: left;
    margin-left: 1px;
    img {
      width: 548/2*1px;
    }
  }
  .nd-menu {
    float: left;
    margin-left: 324px;
    margin-top: 22px;
    counter-reset: menu;
    &-one {
      margin-top: 20px;
      counter-increment: menu;
      position: relative;
      &:before {
        content: "0"counter(menu);
        font-size: 12px;
        font-weight: 700;
        margin-top: -2px;
        position: absolute;
        bottom: 2px;
        left: -89.2px;
        letter-spacing: 1.2px;
        // left: -100px;
      }
      &:after {
        content: "";
        height: 2px;
        width: 49px;
        background: black;
        position: absolute;
        top: 6px;
        left: -61px;
      }
      
      &:not(.is-active):before, &:not(.is-active):after {
        opacity: 0;
        pointer-events:none;
      }

      &:first-child {
        margin-top: 0;
      }
    }
    a {
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: #999;
      letter-spacing: 0.1em;
      &:hover {
        color: black;
      }
    }
    .is-active {
      a {
        color: black;
      }
    }
  }
  .nd-socials {
    float: left;
    margin-top: 22px;
    margin-left: 241px;
    &-wrap {
      overflow: hidden;
      margin-top: 4px;
    }
    .title {
      color: black;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      float: left;
      margin-top: 2px;
      letter-spacing: 0.1em;
      &:after {
        content: "";
        height: 2px;
        width: 49px;
        background: black;
        display: inline-block;
        vertical-align: middle;
        margin-top: -3px;
        margin-left: 12px;
        margin-right: 24px;
      }
    }
    &-one {
      margin-top: 6px;
      &:first-child {
        margin-top: 0;
      }
      img {
        width: 40px;
      }
    }
  }
}
.hint {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.nd-hpage-works {
  margin-top: 160px;
  overflow: hidden;
  &-one {
    padding-left: 75px;
    position: relative;
    width: 375px;
    float: left;
    &:nth-child(2) {
      margin-top: 75px;
      margin-left: 148px;
      .hint {
        margin-left: 1px;
      }
    }
    &:nth-child(3) {
      margin-top: 50px;
      margin-left: 149px;
      width: 376px;
      .hint {
        margin-left: 1px;
      }
    }
    .nd-info {
      max-width: 100%;
      padding-left: 55px;
      margin-top: -21px;
      z-index: 5;
      transform: translateZ(0);
      .nd-name {
        color: black;
        font-size: 24px;
        font-weight: 700;
        background: white;
        display: inline-block;
        padding: 9px 15px 8px;
        margin-left: -16px;
      }
      .work-excerpt {
        font-size: 16px;
        // font-weight: 300;
        line-height: 24px;
      }
    }
    .hint {
      position: absolute;
      left: 0;
      top: 0;
      color: black;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.1em;
    }
    .nd-cover {
      img {
        transition:opacity 0.3s;
        transform: translateZ(0);
        display: block;
      }
    }
    &:hover {
      .nd-cover img{
        opacity: 0.8;
      }
    }
  }
  &-about {
    float: left;
    width: 350px;
    margin-top: 165px;
    margin-left: 148px;
    .h {
      font-size: 24px;
      font-weight: 700;
    }
    p {
      font-size: 20px;
      line-height: 32px;
      font-weight: 200;
    }
  }
}

.nd-newproj {
  &-wrap {
    background: url(../images/grid-test.svg) center repeat-y,center repeat-y #f9f9f9;
    padding-top: 65px;
    padding-bottom: 115px;
    margin-top: 115px;
  }
  &-title-wrap {
    padding-left: 75px;
    position: relative;
    .hint:not(.announce) {
      position: absolute;
      left: 0;
      top: 32px;
    }
  }
  &-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 42px;
  } 
}
.nd-project{
  &-line {
    display: flex;
    justify-content: space-between;
    padding-left: 75px;
    padding-right: 75px;
    margin-top: 40px;
    &+.btn-arrowed {
      margin-top: 40px;
      margin-left: 75px;
    }
  }
  &-item {
    width: 300px;
    display: inline-block;
    img {
      display: block;
    }
    .nd-info {
      background: white;
      padding: 16px 23px 16px;
      font-size: 16px;
      line-height: 24px;
      .name {
        font-weight: bold;
      }
    }
  }
}

.btn-arrowed {
  display: inline-block;
  background: black;
  color: #fff;
  padding: 16px 21px 13px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 16px;
  width: 200px;
  position: relative;
  transition: border-radius 0.3s;
  &:after {
    position: absolute;
    content: "";
    right: 25px;
    top: 16px;
    width: 17px;
    height: 14px;
    background: url(../images/arrow.png);
    background-size: 17px;
    transition: transform 0.3s;
  } 
  &:hover {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    &:after {
      transform: translateX(5px);
    }
  }
}

.nd-footer {
  padding: 100px 0 80px;
  .footer-h {
    @extend .hint;
    margin-bottom: 12px;
  }
  .nd-note {
    display: inline-block;
    vertical-align: top;
    margin-left: 75px;
    width: 370px;
  }
  .nd-email,.nd-contacts {
    width: 225px;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
  }
  .nd-email {
    margin-left: 150px;
  }
  .nd-contacts { 
    margin-left: 70px;
  }
  .text {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
  }
  .mono {
    color: #999;
    font-family: 'MaisonNeue-Mono';
    line-height: 30px;
    &:hover {
      color: #333;
    }
  }
}

.nd-footer-copy {
  background: black;
  color: #666;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-top: 18px;
  padding-bottom: 15px;
  font-size: 12px;
  line-height: 42px;
  .container {
    overflow: hidden;
    position: relative;
  }
  .perf {
    // float: right;
    position: absolute;
    right: 41px;
    line-height: 1;
    img {
      width: 123px;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}

.nd-about {
  padding-left: 75px;
  padding-right: 75px;
  &-head {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -0.045em;
    margin-top: 90px;
    margin-bottom: 120px;
    .h-1 {
      width: 395px;
      display: inline-block;
    }
    .h-2 {
      width: 491px;
      display: inline-block;
      margin-bottom: -1em;
      vertical-align: bottom;
      margin-left: 40px;
      &:before {
        display: block;
        content: "";
        width: 150px;
        height: 8px;
        background: black;
        margin-left: 2px;
        margin-bottom: 91px;

      }
    }
  }
  &-text {
    display: block;
  }
  
}
.nd-about-text {
  overflow: hidden;
}
.text-col {
  width: 450px;
  text-align: justify;
  float: left;
  &+.text-col {
    margin-left: 148px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    &:first-child {
      margin-top: 0;
    }
  }
  .nd-author {
    // display: inline-flex;
    // align-self: flex-end;
    // margin-top: 122px;
    .img {
      float: right;
      width: 300px;
      display: block;
      margin-left: 35px;
    }
    .name{
      @extend .hint;
      text-align: right;
      overflow: hidden;
      width: 138px;
      margin-left: -10px;
      white-space: nowrap;
      margin-top: -2.1em;
      display: inline-block;
      vertical-align: top;
    }
  }
}

.nd-divider {
  width: 100%;
  height: 8px;
  background-color: #252525;
  margin: 65px 0 50px;
}

.cont-small  {
  width: 1048px;
  margin-left: auto;
  margin-right: auto;
  @extend .cf;
}
.page-heading {
  font-size: 64px;
  font-weight: 700;
  letter-spacing: -0.045em;
}
.page-subheading {
  font-size: 24px;
  line-height: 36px;
  max-width: 350px;
  color: #555;
}
.description-link {
  float: left;
  font-size: 14px;
  color: #999;
  text-transform: uppercase;
  font-weight: 700;
  width: 225px;
  letter-spacing: 0.1em;
  span {
    &:after {
      content: "+";
      font-size: 19px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
      letter-spacing: 0.1em;
    }
  }
  &:hover {
    color: black;
  }
}
.nd-resume {
  background: url(../images/about-grid.svg) center repeat-y,center repeat-y #000;
  color: white;
  overflow: hidden;
  width: 100%;
  padding: 130px 0 150px;
  .head {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -0.045em;
    &:after {
      width: 150px;
      height: 8px;
      content: "";
      background: white;
      display: block;
      margin-top: 35px;
    }
  }
  &-block {
    float: left;
    &s {
      margin-top: 130px;
    }
    .l {
      font-size: 160px;
      font-weight: 700;
      letter-spacing: -0.045em;
      display: inline-block;
      vertical-align: top;
    }
    .info {
      display: inline-block;
      vertical-align: top;
      margin-left: 48px;
    }
    .item {
      margin-top: 10px;
      &:not(:first-child) {
        margin-top: 25px;
      }
    }
    .year {
      font-size: 16px;
      font-weight: 700;
    }
    .what {
      font-size: 16px;
      line-height: 24px;
      color:#999;
      margin-top: 13px;
    }
    &:nth-child(2){
      margin-top: 56px;
      margin-left: 40px;
    }
    &:nth-child(3){
      margin-left: 205px;
      margin-top: 20px;
      .info {
        margin-left: 38px;
      }
    }
    &:nth-child(4){
      margin-top: -40px;
      .info {
        margin-left: 39px;
      }
    }
    &:nth-child(5){
      // margin-top: -40px;
      margin-left: 440px;
    }
    &:nth-child(6){
      margin-left: 75px;
      margin-top: -100px;
      .info {
        margin-left: 25px;
      }
    }
    &:nth-child(7){
      margin-left: 513px;
      margin-top: 50px;
      .info {
        margin-left: 40px;
      }
    }
  }
}


.nd-gallery {
  margin-top: 90px;
  &-projects {
    columns: 3;
    column-gap: 75px;
    .nd-info {
      background: none;
      padding-left: 0;
    }
    .nd-image{
      position: relative;
      .category {
        position: absolute;
        bottom: 15px;
        right: 15px;
        font-size: 12px;
        text-transform: uppercase;
        @extend .hint;
        background: white;
        padding: 8px 11px 6px;
      }
      
    }
    .nd-project-item {
      margin-top: 25px;
      img {
        transition:opacity 0.3s;
        transform: translateZ(0);
        display: block;
      }
      
      &:hover {
        img{
          opacity: 0.8;
        }
      }
    }
  }
}

.nd-filters {
  // overflow: hidden;
  width: 100%;
  margin: 30px 0 30px;
  &-one {
    width: 75px;
    float: left;
    @extend .hint;
    font-size: 14px;
    color: #999;
    &:hover {
      color: #333;
    }
    &.is-active {
      color: black;
      position: relative;
      &:after {
        position: absolute;
        top: 86%;
        left: 0;
        content: "";
        margin-top: 10px;
        height: 2px;
        width: 50px;
        background: black;
      }
    }
  }
}

.nd-pagination {
  padding: 30px 0;
  background: #f9f9f9;
  text-align: center;
  margin-top: 50px;
  a {
    display: inline-block;
    border: 2px solid;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding-top: 3px;
    height: 50px;
    box-sizing: border-box;
  }
  &-text {
    @extend .hint;
    font-size: 12px !important;
    width: 128px;
    &.prev {
      float: left !important;
    }
    &.next {
      float: right !important;
    }
    &:hover {
      background: black;
      color: white;
    }
  }
  &-num {
    width: 50px;
    
    margin:  0 12px;
    color: #999;
    font-weight: bold;
    
    
    &:hover {
      color: #333;
    }
    &.is-active {
      background: black; 
      color: white;
    }
  }
  & + .nd-footer {
    padding-top: 60px;
  }
}

.nd-galleryitem {
  margin-top: 90px;
}

.nd-galleryitem{
  &-image {
    width: 450px;
    float: left;
    margin-right: 75px;
  }
  &-info {
    // overflow: hidden;
    float: left;
    width: 522px;
    // margin-top: -5px;
    margin-top: 3px;
    .h {
      position: relative;
      display: inline-block;
      &-wrap {
        padding-bottom: 10px;
        border-bottom: 4px solid black;
      }
      &:before {
        content: "“";
        position: absolute;
        color: #ddd;
        left: -50px;
        top: -8px;
      }
      &:after {
        content: "”";
        position: absolute;
        color: #ddd;
        right: -45px;
        top: -8px;
      }
    }
    .p-v-wrap {
      padding: 25px 0 50px;
      border-bottom: 2px solid black;
    }
    .p-v {
      margin-top: 30px;
      line-height: 24px;
      .p {
        width: 149px;
        float: left;
        @extend .hint;
        color: #999;
      }
      .v {
        overflow: hidden;

      }
      a {
        color: #999;
        font-weight: 500;
        &:hover {
          color: black;
        }
      }
    }
  }
  &-share {
    .p-v .p {
      width: 119px;
    }
  }
  &_project {
    .nd-project-line {
      padding-left: 0;
      padding-right: 0;
    }
    .nd-galleryitem-info {
      width: 100%;
      float: none;
      & > .p-v-wrap {
      border: 0 !important;
        &:first-child {
          margin-top: 65px;
          &:before {
            display: block;
            width: 674px;
            margin-left: auto;
            height: 2px;
            background: black;
            content: "";
            position: relative;
            top: -25px;
          }
        }
      }
    }
    .nd-galleryitem-info_title {
      width: 674px;
      float: none;
      .h-wrap {
        position: relative;
      }
      .category {
        position: absolute;
        left: -74px;
        bottom: -5px;
      }
    }
    .p-v-wrap {
      border: 0 !important;
      &:after {
        display: block;
        width: 674px;
        margin-left: auto;
        height: 2px;
        background: black;
        content: "";
        position: relative;
        top: 52px;
      }
    }
    .nd-galleryitem-share {
      .p {
        width: 344px !important;
      }
    }
  }
}

.project-wrap {
  background: #f9f9f9;
  margin-top: 70px;
  padding-bottom: 60px;
  .nd-galleryitem {
    margin-top: 80px;
  }
  .p-v .p {
    width: 374px;
  }
  .p-v-wrap {
    width: 100%;
  }
}

.nd-sharebtn {
  font-size: 16px;
  color: black !important;
  &:hover {
    opacity: 0.6;
  }
  img {
    width: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -0.3em;
    margin-right: 14px;
  }
  &-wrap {
    & + .nd-sharebtn-wrap {
      margin-top: 10px;
    }
  }
}

.nd-category {
  .nd-filters {
    margin: 50px 0 30px;
  }
}
.category-text  {
  background: #f9f9f9;
  margin-top: 60px;
  padding-bottom: 60px;
  .nd-divider  {
    margin-bottom: 70px;
    margin-top: -4px;
  }
}

body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
 
body::-webkit-scrollbar-track {
    background: transparent;
    width: 0;
    height: 0;
}
 
body::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: 0px solid slategrey;
  width: 0;
  height: 0;
}

.dash-after {
  position: relative;
  &:after {
    position: absolute;
    width: 50px;
    height: 2px;
    background: black;
    right: 10px;
    bottom: 17px;
    content: "";
  }
}
.s-wrap {
  position: relative;
}
.s-title {
  @extend .hint;
  position: absolute;
  right:10px;
  transform:rotate(-90deg);
  transform-origin: right center;
  &.s-hshow {
    margin-top: 70px;
  }
  &.s-contacts {
    margin-top: -50px;
  }
  &.s-hgallery {
    margin-top: 250px;
  }
  &.s-cshow {
    margin-top: 300px;
  }
  &.s-about {
    margin-top:  80px;
  }
}
.cont-small .s-title {
  right: -107px;
}
.nd-resume .s-title  {
  margin-top: -10px;
}

.h-etsy {
  float: right;
  margin-right: -1px;
}

.nd-btn_etsy {
  width: 449/2*1px;
  display: inline-block;
  background: black;
  color: white;
  line-height: 48px;
  padding-top: 2px;
  padding-left: 20px;
  padding-right: 17px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.05em;
  transition: border-radius 0.3s;
  &:hover {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }
  .price {
    float: right;
    color: rgba(255,255,255,0.5)
  }
  &.wo-price {
    width: auto;
  }
}

.nd-project-item {
  img {
    width: 100%;
  }
}

.nd-hpage-works-one .nd-cover img {
  width: 100%;
}
#scrollbar {
  width: 1px;
  background: rgba(0,0,0,0.2);
  position: fixed;
  left: calc(50% + 670px);
  top: 0;
  bottom: 0;
  display: block;
  .v {
    width: 3px;
    background: black;
    height: 0;
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
  }
}
