!!! 5
%html
  %head
  %title SVA
  %meta(charset="utf-8")
   
  <meta name="viewport" content="width=1280"> 
  <link href='css/base.css' rel='stylesheet' type='text/css'>
  <link href='css/style.css' rel='stylesheet' type='text/css'>

  %body
    #scrollbar
      .p
        .v
    .nd-header
      .container
        %a.nd-logo(href="index.html")
          %img(src="images/logo.png")
        .nd-menu 
          .nd-menu-one
            %a(href="index.html") Homepage
          .nd-menu-one
            %a(href="about.html") About
          .nd-menu-one.is-active  
            %a(href="gallery.html") Gallery
          .nd-menu-one  
            %a(href="shop.html") Shop
        .nd-socials
          .title 
            Social networks
          .nd-socials-wrap
            .nd-socials-one
              %a(href="#")
                %img(src="images/facebook.png") 
            .nd-socials-one
              %a(href="#")
                %img(src="images/behance.png") 
            .nd-socials-one
              %a(href="#")
                %img(src="images/insta.png") 
    #content
      .cont-small.s-wrap
        .s-title.s-cshow Showcase
        .nd-gallery.nd-category
          .page-heading.nd-gallery-head
            The Meditative Art
          .page-subheading
            The Meditative Art of Oleksandr Serdiuk
          .nd-filters.cf
            %a.description-link(href="#descr")
              %span Description
            %a.nd-filters-one.is-active(href="#")
              2016
            %a.nd-filters-one(href="#")
              2015
            %a.nd-filters-one(href="#")
              2014
            %a.nd-filters-one(href="#")
              2013
          .nd-gallery-projects
            %a.nd-project-item(href="gallery-item.html")
              .nd-image
                %img(src="images/project-3.png")
                .category
                  NYD
              .nd-info
                %span.name Part 3
                .details
                  Canvas, oil, gold
                  %br/
                  2016
                  %br/
                  95x75 cm
            %a.nd-project-item(href="gallery-item.html")
              .nd-image
                %img(src="images/project-2.png")
                .category
                  NYD
              .nd-info
                %span.name Part 3
                .details
                  Canvas, oil, gold
                  %br/
                  2016
                  %br/
                  95x75 cm
            %a.nd-project-item(href="gallery-item.html")
              .nd-image
                %img(src="images/project-1.png")
                .category
                  NYD
              .nd-info
                %span.name Part 3
                .details
                  Canvas, oil, gold
                  %br/
                  2016
                  %br/
                  95x75 cm
            %a.nd-project-item(href="gallery-item.html")
              .nd-image
                %img(src="images/project-4.png")
                .category
                  NYD
              .nd-info
                %span.name Part 3
                .details
                  Canvas, oil, gold
                  %br/
                  2016
                  %br/
                  95x75 cm
            %a.nd-project-item(href="gallery-item.html")
              .nd-image
                %img(src="images/project-5.png")
                .category
                  NYD
              .nd-info
                %span.name Part 3
                .details
                  Canvas, oil, gold
                  %br/
                  2016
                  %br/
                  95x75 cm
            %a.nd-project-item(href="gallery-item.html")
              .nd-image
                %img(src="images/project-6.png")
                .category
                  NYD
              .nd-info
                %span.name Part 3
                .details
                  Canvas, oil, gold
                  %br/
                  2016
                  %br/
                  95x75 cm
      .category-text
        .cont-small.s-wrap
          .s-title.s-about About
          .nd-divider 
          .nd-about-text
            .text-col
              %p
                The artworks of Serdiuk are created in Contemporary Art genre. They reflect feelings of an individual living in the modern world and their current understanding of morality. The creativity of the artist is contemplative, it offers no radical solutions not being existential, and not calling to destruction or self-flagellation. On the contrary, it offers a plunge into the depths of a human soul. It should be noted that Serdiuk'a credo is Awareness. The artist admits that he is able to explain the nature of each image, color, and stroke, as, despite working with the irrational, 'rationality' of the artist is always switched on and is capable of finding capacious artistic expression.
            .text-col 
              %p
                Oleksandr Serdiuk's Nu paintings are devoid of details and quite symbolic. This artistic technique, i.e. the lack of portretisation, excludes the outrageous, vulgar, pornographic, and immoral which is why a lot of contemporary artists like to use it. Serduk's experiment is on the verge of a revelation of Schiele and neo-tantric connection of male and female. The plasticity of nudity, which is not always embodied in natural but in elegant poses, evokes the memories of ancient statues, as the figures in Serduk's paintings can be effortlessly divided into individual components. The author makes a point not only of the beauty of the female body in its general excellence but also its physical attractiveness (as an integral part of it). With that being said, eroticism still has exclusively sacred character in Serdiuk's artworks, treating a woman as an object of knowledge and admiration.

      



    .nd-footer
      .container.s-wrap
        .s-title.s-contacts Contacts
        .nd-note
          .footer-h
            Important note
          .text.dash-after
            Oleksandr is always open for new art dealer and exhibition place. Feel free to contact him about collaboration.
        .nd-email
          .footer-h
            SerdiukArt Studio
          %a.mono(href="mailto:a.v.serdyk@gmail.com") a.v.serdyk@gmail.com
        .nd-contacts
          .footer-h
            For availability and sales
          %a.mono(href="mailto:studio@serdyukart.com") studio@serdyukart.com
          %br/
          %a.mono(href="tel:+380950112120") +380 95 011 2120
    .nd-footer-copy
      .container
        %a.perf(href="images/perf.png")
          %img(src="images/perf.png")
        .copy serdyukart © 2016. All rights reserved




    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    %script 
      (function() {
       
      }).call(this);
     