!!! 5
%html
  %head
  %title SVA
  %meta(charset="utf-8")
   
  <meta name="viewport" content="width=1280">
  <link href='css/base.css' rel='stylesheet' type='text/css'>
  <link href='css/style.css' rel='stylesheet' type='text/css'>

  %body
    .nd-header
      .container
        %a.nd-logo(href="index.html")
          %img(src="images/logo.png")
        .nd-menu 
          .nd-menu-one
            %a(href="index.html") Homepage
          .nd-menu-one
            %a(href="about.html") About
          .nd-menu-one.is-active  
            %a(href="gallery.html") Gallery
          .nd-menu-one  
            %a(href="shop.html") Shop
        .nd-socials
          .title 
            Social networks
          .nd-socials-wrap
            .nd-socials-one
              %a(href="#")
                %img(src="images/facebook.png") 
            .nd-socials-one
              %a(href="#")
                %img(src="images/behance.png") 
            .nd-socials-one
              %a(href="#")
                %img(src="images/insta.png") 
    #content
      .cont-small
        .nd-galleryitem
          .nd-galleryitem-image
            %img(src="images/project-1.png")
          .nd-galleryitem-info
            .h-wrap
              .h-etsy
                %a.nd-btn_etsy(href="#")
                  Shop now on Etsy
                  .price $15.00
              .h.page-heading Vision
            .p-v-wrap
              .p-v
                .p MATERIAL
                .v Canvas, oil, gold
              .p-v
                .p YEAR
                .v 2016
              .p-v
                .p SIZE
                .v 95x75 cm
              .p-v
                .p Section
                .v 
                  %a(href="#") Nude
            .nd-galleryitem-descr
              .p-v-wrap
                .p-v
                  .p DESCRIPTION
                  .v The theme of human striving for spiritual perfection is dominating in Oleksandr Serdiuk's artworks. That is why his paintings are deprived of literalness, thereby excluding any coverage of real events. He deliberately renounced from the "trend",  and focused on practical psychology setting the task to clarify the nature of psychological phenomena. The author encourages to take some time off from external stimuli and accept silence.
            .nd-galleryitem-share
              .p-v
                .p Share
                .v 
                  .nd-sharebtn-wrap
                    %a.nd-sharebtn(href="#")
                      %img(src="images/share-fb.png")
                      Share via Facebook
                  .nd-sharebtn-wrap
                    %a.nd-sharebtn(href="#")
                      %img(src="images/share-tw.png")
                      Share via Twitter







      

    .nd-pagination
      .cont-small
        %a.nd-pagination-text.prev(href="#")
          Previous
        %a.nd-pagination-text.next(href="#")
          Next

    .nd-footer
      .container 
        .nd-note
          .footer-h
            Important note
          .text.dash-after
            Oleksandr is always open for new art dealer and exhibition place. Feel free to contact him about collaboration.
        .nd-email
          .footer-h
            SerdiukArt Studio
          %a.mono(href="mailto:a.v.serdyk@gmail.com") a.v.serdyk@gmail.com
        .nd-contacts
          .footer-h
            For availability and sales
          %a.mono(href="mailto:studio@serdyukart.com") studio@serdyukart.com
          %br/
          %a.mono(href="tel:+380950112120") +380 95 011 2120
    .nd-footer-copy
      .container
        %a.perf(href="images/perf.png")
          %img(src="images/perf.png")
        .copy serdyukart © 2016. All rights reserved




    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    %script 
      (function() {
       
      }).call(this);
     