!!! 5
%html
  %head
  %title SVA
  %meta(charset="utf-8")
   
  <meta name="viewport" content="width=1280"> 
  <link href='css/base.css' rel='stylesheet' type='text/css'>
  <link href='css/style.css' rel='stylesheet' type='text/css'>

  %body
    #scrollbar
      .p
        .v
    .nd-header
      .container
        %a.nd-logo(href="index.html")
          %img(src="images/logo.png")
        .nd-menu 
          .nd-menu-one
            %a(href="index.html") Homepage
          .nd-menu-one
            %a(href="about.html") About
          .nd-menu-one.is-active  
            %a(href="gallery.html") Gallery
          .nd-menu-one  
            %a(href="shop.html") Shop
        .nd-socials
          .title 
            Social networks
          .nd-socials-wrap
            .nd-socials-one
              %a(href="#")
                %img(src="images/facebook.png") 
            .nd-socials-one
              %a(href="#")
                %img(src="images/behance.png") 
            .nd-socials-one
              %a(href="#")
                %img(src="images/insta.png") 
    #content
      .cont-small.s-wrap
        .s-title.s-hgallery Showcase
        .nd-gallery
          .page-heading.nd-gallery-head
            Gallery
          .nd-filters.cf
            %a.nd-filters-one.is-active(href="#")
              2016
            %a.nd-filters-one(href="#")
              2015
            %a.nd-filters-one(href="#")
              2014
            %a.nd-filters-one(href="#")
              2013
            %a.nd-filters-one(href="#")
              2012
            %a.nd-filters-one(href="#")
              2011
            %a.nd-filters-one(href="#")
              2010
            %a.nd-filters-one(href="#")
              2000X
            %a.nd-filters-one(href="#")
              1990X
          .nd-gallery-projects
            .nd-project-item-wrap
              %a.nd-project-item(href="gallery-item.html")
                .nd-image
                  %img(src="images/project-3.png")
                  .category
                    NYD
                .nd-info
                  %span.name Part 3
                  .details
                    Canvas, oil, gold
                    %br/
                    2016
                    %br/
                    95x75 cm
            .nd-project-item-wrap
              %a.nd-project-item(href="gallery-item.html")
                .nd-image
                  %img(src="images/project-2.png")
                  .category
                    NYD
                .nd-info
                  %span.name Part 3
                  .details
                    Canvas, oil, gold
                    %br/
                    2016
                    %br/
                    95x75 cm
            .nd-project-item-wrap
              %a.nd-project-item(href="gallery-item.html")
                .nd-image
                  %img(src="images/project-1.png")
                  .category
                    NYD
                .nd-info
                  %span.name Part 3
                  .details
                    Canvas, oil, gold
                    %br/
                    2016
                    %br/
                    95x75 cm
            .nd-project-item-wrap
              %a.nd-project-item(href="gallery-item.html")
                .nd-image
                  %img(src="images/project-4.png")
                  .category
                    NYD
                .nd-info
                  %span.name Part 3
                  .details
                    Canvas, oil, gold
                    %br/
                    2016
                    %br/
                    95x75 cm
            .nd-project-item-wrap
              %a.nd-project-item(href="gallery-item.html")
                .nd-image
                  %img(src="images/project-5.png")
                  .category
                    NYD
                .nd-info
                  %span.name Part 3
                  .details
                    Canvas, oil, gold
                    %br/
                    2016
                    %br/
                    95x75 cm
            .nd-project-item-wrap
              %a.nd-project-item(href="gallery-item.html")
                .nd-image
                  %img(src="images/project-6.png")
                  .category
                    NYD
                .nd-info
                  %span.name Part 3
                  .details
                    Canvas, oil, gold
                    %br/
                    2016
                    %br/
                    95x75 cm



      

    .nd-pagination
      .cont-small
        %a.nd-pagination-num(href="#")
          1
        %a.nd-pagination-num.is-active(href="#")
          2
        %a.nd-pagination-num(href="#")
          3

    .nd-footer
      .container.s-wrap
        .s-title.s-contacts Contacts
        .nd-note
          .footer-h
            Important note
          .text.dash-after
            Oleksandr is always open for new art dealer and exhibition place. Feel free to contact him about collaboration.
        .nd-email
          .footer-h
            SerdiukArt Studio
          %a.mono(href="mailto:a.v.serdyk@gmail.com") a.v.serdyk@gmail.com
        .nd-contacts
          .footer-h
            For availability and sales
          %a.mono(href="mailto:studio@serdyukart.com") studio@serdyukart.com
          %br/
          %a.mono(href="tel:+380950112120") +380 95 011 2120
    .nd-footer-copy
      .container
        %a.perf(href="images/perf.png")
          %img(src="images/perf.png")
        .copy serdyukart © 2016. All rights reserved




    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    %script 
      (function() {
       
      }).call(this);
     