!!! 5
%html
  %head
  %title SVA
  %meta(charset="utf-8")
   
  <meta name="viewport" content="width=1280">
  <link href='css/base.css' rel='stylesheet' type='text/css'>
  <link href='css/style.css' rel='stylesheet' type='text/css'>

  %body
    #scrollbar
      .p
        .v
    .nd-header
      .container
        %a.nd-logo(href="index.html")
          %img(src="images/logo.png")
        .nd-menu 
          .nd-menu-one.is-active
            %a(href="index.html") Homepage
          .nd-menu-one  
            %a(href="about.html") About
          .nd-menu-one  
            %a(href="gallery.html") Gallery
          .nd-menu-one  
            %a(href="shop.html") Shop
        .nd-socials
          .title 
            Social networks
          .nd-socials-wrap
            .nd-socials-one
              %a(href="#")
                %img(src="images/facebook.png") 
            .nd-socials-one
              %a(href="#")
                %img(src="images/behance.png") 
            .nd-socials-one
              %a(href="#")
                %img(src="images/insta.png") 
    #content
      .container.s-wrap
        .s-title.s-hshow Showcase
        .nd-hpage-works
          %a.nd-hpage-works-one(href="category.html")
            .hint
              NUD
            .nd-cover
              %img(src="images/cat-nude.png")
            .nd-info
              .nd-name
                Nude
              .work-excerpt The Sacred Eroticism in the Artworks of Oleksandr Serdiuk
          %a.nd-hpage-works-one(href="category.html")
            .hint
              SYM
            .nd-cover
              %img(src="images/cat-symbolism.png")
            .nd-info
              .nd-name
                Symbolism & Realism
              .work-excerpt The Symbolism and Magical Realism in the Artworks of Oleksandr Serdiuk
          %a.nd-hpage-works-one(href="category.html")
            .hint
              MED
            .nd-cover
              %img(src="images/cat-med.png")
            .nd-info
              .nd-name
                Meditative Art
              .work-excerpt The Meditative Art of Oleksandr Serdiuk
          .nd-hpage-works-about
            .h About Oleksandr
            %p In the Ukrainian fine art, Oleksandr Serdiuk is known to be a surrealist, conceptualist and a representative of Late Contemporary Art. 
            %a.btn-arrowed(href="about.html")
              Read more
      .nd-newproj-wrap
        .container
          .nd-newproj-title-wrap
            .hint
              PTS
            .hint.announce
              New project
            .nd-newproj-title
              Parts of the Whole
          .nd-project-line
            .nd-project-item
              .nd-image
                %img(src="images/project-1.png")
              .nd-info
                %span.name Part 1
                .details
                  Canvas, oil, gold
                  %br/
                  2016
                  %br/
                  95x75 cm
            .nd-project-item
              .nd-image
                %img(src="images/project-2.png")
              .nd-info
                %span.name Part 2
                .details
                  Canvas, oil, gold
                  %br/
                  2016
                  %br/
                  95x75 cm
            .nd-project-item
              .nd-image
                %img(src="images/project-3.png")
              .nd-info
                %span.name Part 3
                .details
                  Canvas, oil, gold
                  %br/
                  2016
                  %br/
                  95x75 cm
          %a.btn-arrowed(href="project.html")
            View Project
    .nd-footer
      .container.s-wrap
        .s-title.s-contacts Contacts
        .nd-note
          .footer-h
            Important note
          .text.dash-after
            Oleksandr is always open for new art dealer and exhibition place. Feel free to contact him about collaboration.
        .nd-email
          .footer-h
            SerdiukArt Studio
          %a.mono(href="mailto:a.v.serdyk@gmail.com") a.v.serdyk@gmail.com
        .nd-contacts
          .footer-h
            For availability and sales
          %a.mono(href="mailto:studio@serdyukart.com") studio@serdyukart.com
          %br/
          %a.mono(href="tel:+380950112120") +380 95 011 2120
    .nd-footer-copy
      .container
        %a.perf(href="images/perf.png")
          %img(src="images/perf.png")
        .copy serdyukart © 2016. All rights reserved




    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    %script 
      $(document).ready(function() {
        posV();
        $(window).scroll(function(event) {
          posV();
        });
      });
      function posV(){
        var top = $(this).scrollTop();
        var height = $(window).height();
        var wrapper_height = $("body").height();
        console.log(top + "," + height + ", " + wrapper_height);
        $("#scrollbar .v").css("height",(top+height) / wrapper_height * 100 + "%");
      }