@charset "UTF-8";
body,html,img{max-width:100%}
.btn-arrowed,.container,.nd-btn_etsy,.nd-pagination a{box-sizing:border-box}
@font-face{font-family:MaisonNeue;src:url(../fonts/MaisonNeue-Bold.eot);src:url(../fonts/MaisonNeue-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/MaisonNeue-Bold.woff) format("woff"),url(../fonts/MaisonNeue-Bold.ttf) format("truetype"),url(../fonts/MaisonNeue-Bold.svg#d7515c8903f80839201eea94ef008f5e) format("svg");font-style:normal;font-weight:700}
@font-face{font-family:MaisonNeue;src:url(../fonts/MaisonNeue-Book.eot);src:url(../fonts/MaisonNeue-Book.eot?#iefix) format("embedded-opentype"),url(../fonts/MaisonNeue-Book.woff) format("woff"),url(../fonts/MaisonNeue-Book.ttf) format("truetype"),url(../fonts/MaisonNeue-Book.svg#cfe9c4d435b13936a17ea5090528f1ab) format("svg");font-style:normal;font-weight:400}
@font-face{font-family:MaisonNeue;src:url(../fonts/MaisonNeue-Demi.eot);src:url(../fonts/MaisonNeue-Demi.eot?#iefix) format("embedded-opentype"),url(../fonts/MaisonNeue-Demi.woff) format("woff"),url(../fonts/MaisonNeue-Demi.ttf) format("truetype"),url(../fonts/MaisonNeue-Demi.svg#83e42244382055676967b9123edd6fa4) format("svg");font-style:normal;font-weight:500}
@font-face{font-family:MaisonNeue;src:url(../fonts/MaisonNeue-Light.eot);src:url(../fonts/MaisonNeue-Light.eot?#iefix) format("embedded-opentype"),url(../fonts/MaisonNeue-Light.woff) format("woff"),url(../fonts/MaisonNeue-Light.ttf) format("truetype"),url(../fonts/MaisonNeue-Light.svg#6f121ab30e14cbd298b48f56c3575fb7) format("svg");font-style:normal;font-weight:200}
@font-face{font-family:MaisonNeue-Mono;src:url(../fonts/MaisonNeue-Mono.eot);src:url(../fonts/MaisonNeue-Mono.eot?#iefix) format("embedded-opentype"),url(../fonts/MaisonNeue-Mono.woff) format("woff"),url(../fonts/MaisonNeue-Mono.ttf) format("truetype"),url(../fonts/MaisonNeue-Mono.svg#af2fa94b953e46dc77e59983b9e9c303) format("svg");font-style:normal;font-weight:400}
.cf:after,.cf:before,.cont-small:after,.cont-small:before{content:" ";display:table}
.cf:after,.cont-small:after{clear:both}
a{color:inherit;text-decoration:none}
:focus{outline:0}
body{font-family:MaisonNeue,sans-serif;-webkit-font-smoothing:antialiased;background:url(../images/grid-test.svg) center repeat-y;background-size:1200px;background-repeat-x:no-repeat;color:#000;min-width:1280px!important}
.container{max-width:1280px;padding:0 41px;width:100%;margin:0 auto}
.nd-header{padding-top:26.5px;overflow:hidden}
.nd-header .nd-logo{float:left;margin-left:1px}
.nd-header .nd-logo img{width:274px}
.nd-header .nd-menu{float:left;margin-left:324px;margin-top:22px;counter-reset:menu}
.nd-header .nd-menu-one{margin-top:20px;counter-increment:menu;position:relative}
.nd-header .nd-menu-one:before{content:"0" counter(menu);font-size:12px;font-weight:700;margin-top:-2px;position:absolute;bottom:2px;left:-89.2px;letter-spacing:1.2px}
.btn-arrowed:after,.nd-about-head .h-2:before,.nd-header .nd-menu-one:after,.nd-header .nd-socials .title:after{content:""}
.nd-header .nd-menu-one:after{height:2px;width:49px;background:#000;position:absolute;top:6px;left:-61px}
.nd-header .nd-menu-one:not(.is-active):after,.nd-header .nd-menu-one:not(.is-active):before{opacity:0;pointer-events:none}
.nd-footer-copy .perf:hover,.nd-gallery-projects .nd-project-item:hover img,.nd-hpage-works-one:hover .nd-cover img{opacity:.8}
.nd-header .nd-menu-one:first-child{margin-top:0}
.nd-header .nd-menu a{font-size:14px;font-weight:700;text-transform:uppercase;color:#999;letter-spacing:.1em}
.hint,.nd-filters-one,.nd-footer .footer-h,.nd-gallery-projects .nd-image .category,.nd-galleryitem-info .p-v .p,.nd-header .nd-socials .title,.nd-pagination-text,.s-title,.text-col .nd-author .name{font-size:12px;letter-spacing:.1em;font-weight:700;text-transform:uppercase}
.nd-header .nd-menu .is-active a,.nd-header .nd-menu a:hover{color:#000}
.nd-header .nd-socials{float:left;margin-top:22px;margin-left:241px}
.nd-header .nd-socials-wrap{overflow:hidden;margin-top:4px}
.nd-header .nd-socials .title{color:#000;float:left;margin-top:2px}
.nd-header .nd-socials .title:after{height:2px;width:49px;background:#000;display:inline-block;vertical-align:middle;margin-top:-3px;margin-left:12px;margin-right:24px}
.nd-header .nd-socials-one{margin-top:6px}
.nd-header .nd-socials-one:first-child{margin-top:0}
.nd-header .nd-socials-one img{width:40px}
.nd-hpage-works{margin-top:160px;overflow:hidden}
.nd-hpage-works-one{padding-left:75px;position:relative;width:375px;float:left}
.nd-hpage-works-one:nth-child(2){margin-top:75px;margin-left:148px}
.nd-footer .nd-hpage-works-one:nth-child(2) .footer-h,.nd-gallery-projects .nd-image .nd-hpage-works-one:nth-child(2) .category,.nd-galleryitem-info .p-v .nd-hpage-works-one:nth-child(2) .p,.nd-hpage-works-one:nth-child(2) .hint,.nd-hpage-works-one:nth-child(2) .nd-filters-one,.nd-hpage-works-one:nth-child(2) .nd-footer .footer-h,.nd-hpage-works-one:nth-child(2) .nd-gallery-projects .nd-image .category,.nd-hpage-works-one:nth-child(2) .nd-galleryitem-info .p-v .p,.nd-hpage-works-one:nth-child(2) .nd-pagination-text,.nd-hpage-works-one:nth-child(2) .s-title,.nd-hpage-works-one:nth-child(2) .text-col .nd-author .name,.text-col .nd-author .nd-hpage-works-one:nth-child(2) .name{margin-left:1px}
.nd-hpage-works-one:nth-child(3){margin-top:50px;margin-left:149px;width:376px}
.nd-footer .nd-hpage-works-one:nth-child(3) .footer-h,.nd-gallery-projects .nd-image .nd-hpage-works-one:nth-child(3) .category,.nd-galleryitem-info .p-v .nd-hpage-works-one:nth-child(3) .p,.nd-hpage-works-one:nth-child(3) .hint,.nd-hpage-works-one:nth-child(3) .nd-filters-one,.nd-hpage-works-one:nth-child(3) .nd-footer .footer-h,.nd-hpage-works-one:nth-child(3) .nd-gallery-projects .nd-image .category,.nd-hpage-works-one:nth-child(3) .nd-galleryitem-info .p-v .p,.nd-hpage-works-one:nth-child(3) .nd-pagination-text,.nd-hpage-works-one:nth-child(3) .s-title,.nd-hpage-works-one:nth-child(3) .text-col .nd-author .name,.text-col .nd-author .nd-hpage-works-one:nth-child(3) .name{margin-left:1px}
.nd-hpage-works-one .nd-info{max-width:100%;padding-left:55px;margin-top:-21px;z-index:5;-webkit-transform:translateZ(0);transform:translateZ(0)}
.nd-hpage-works-one .nd-info .nd-name{color:#000;font-size:24px;font-weight:700;background:#fff;display:inline-block;padding:9px 15px 8px;margin-left:-16px}
.nd-hpage-works-one .nd-info .work-excerpt{font-size:16px;line-height:24px}
.nd-footer .nd-hpage-works-one .footer-h,.nd-gallery-projects .nd-image .nd-hpage-works-one .category,.nd-galleryitem-info .p-v .nd-hpage-works-one .p,.nd-hpage-works-one .hint,.nd-hpage-works-one .nd-filters-one,.nd-hpage-works-one .nd-footer .footer-h,.nd-hpage-works-one .nd-gallery-projects .nd-image .category,.nd-hpage-works-one .nd-galleryitem-info .p-v .p,.nd-hpage-works-one .nd-pagination-text,.nd-hpage-works-one .s-title,.nd-hpage-works-one .text-col .nd-author .name,.text-col .nd-author .nd-hpage-works-one .name{position:absolute;left:0;top:0;color:#000;font-size:12px;font-weight:700;letter-spacing:.1em}
.nd-hpage-works-one .nd-cover img{transition:opacity .3s;-webkit-transform:translateZ(0);transform:translateZ(0);display:block}
.nd-hpage-works-about{float:left;width:350px;margin-top:165px;margin-left:148px}
.nd-hpage-works-about .h{font-size:24px;font-weight:700}
.nd-hpage-works-about p{font-size:20px;line-height:32px;font-weight:200}
.btn-arrowed,.nd-project-item .nd-info .name{font-weight:700}
.nd-newproj-wrap{background:url(../images/grid-test.svg) center repeat-y,center repeat-y #f9f9f9;padding-top:65px;padding-bottom:115px;margin-top:115px}
.nd-newproj-title-wrap{padding-left:75px;position:relative}
.nd-footer .nd-newproj-title-wrap .footer-h:not(.announce),.nd-gallery-projects .nd-image .nd-newproj-title-wrap .category:not(.announce),.nd-galleryitem-info .p-v .nd-newproj-title-wrap .p:not(.announce),.nd-newproj-title-wrap .hint:not(.announce),.nd-newproj-title-wrap .nd-filters-one:not(.announce),.nd-newproj-title-wrap .nd-footer .footer-h:not(.announce),.nd-newproj-title-wrap .nd-gallery-projects .nd-image .category:not(.announce),.nd-newproj-title-wrap .nd-galleryitem-info .p-v .p:not(.announce),.nd-newproj-title-wrap .nd-pagination-text:not(.announce),.nd-newproj-title-wrap .s-title:not(.announce),.nd-newproj-title-wrap .text-col .nd-author .name:not(.announce),.text-col .nd-author .nd-newproj-title-wrap .name:not(.announce){position:absolute;left:0;top:32px}
.nd-newproj-title{font-size:24px;font-weight:700;line-height:42px}
.nd-project-line{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;padding-left:75px;padding-right:75px;margin-top:40px}
.nd-project-line+.btn-arrowed{margin-top:40px;margin-left:75px}
.nd-project-item{width:300px;display:inline-block}
.nd-project-item img{display:block}
.nd-project-item .nd-info{background:#fff;padding:16px 23px;font-size:16px;line-height:24px}
.btn-arrowed{display:inline-block;background:#000;color:#fff;padding:16px 21px 13px;font-size:16px;width:200px;position:relative;transition:border-radius .3s}
.btn-arrowed:after{position:absolute;right:25px;top:16px;width:17px;height:14px;background:url(../images/arrow.png);background-size:17px;transition:-webkit-transform .3s;transition:transform .3s;transition:transform .3s,-webkit-transform .3s}
.btn-arrowed:hover{border-top-right-radius:40px;border-bottom-right-radius:40px}
.btn-arrowed:hover:after{-webkit-transform:translateX(5px);-ms-transform:translateX(5px);transform:translateX(5px)}
.nd-footer{padding:100px 0 80px}
.nd-footer .footer-h{margin-bottom:12px}
.nd-footer .nd-note{display:inline-block;vertical-align:top;margin-left:75px;width:370px}
.nd-footer .nd-contacts,.nd-footer .nd-email{width:225px;display:inline-block;vertical-align:top;font-size:16px}
.nd-footer .nd-email{margin-left:150px}
.nd-footer .nd-contacts{margin-left:70px}
.nd-footer .text{font-size:20px;font-weight:300;line-height:32px}
.nd-footer .mono{color:#999;font-family:MaisonNeue-Mono;line-height:30px}
.nd-footer .mono:hover{color:#333}
.nd-footer-copy{background:#000;color:#666;font-weight:700;text-align:center;text-transform:uppercase;padding-top:18px;padding-bottom:15px;font-size:12px;line-height:42px}
.nd-footer-copy .container{overflow:hidden;position:relative}
.nd-footer-copy .perf{position:absolute;right:41px;line-height:1}
.nd-footer-copy .perf img{width:123px}
.nd-about{padding-left:75px;padding-right:75px}
.nd-about-head{font-size:64px;font-weight:700;letter-spacing:-.045em;margin-top:90px;margin-bottom:120px}
.nd-about-head .h-1{width:395px;display:inline-block}
.nd-about-head .h-2{width:491px;display:inline-block;margin-bottom:-1em;vertical-align:bottom;margin-left:40px}
.nd-about-head .h-2:before{display:block;width:150px;height:8px;background:#000;margin-left:2px;margin-bottom:91px}
.nd-about-text{display:block;overflow:hidden}
.text-col{width:450px;text-align:justify;float:left}
.text-col+.text-col{margin-left:148px}
.text-col p{font-size:16px;line-height:24px}
.text-col p:first-child{margin-top:0}
.text-col .nd-author .img{float:right;width:300px;display:block;margin-left:35px}
.text-col .nd-author .name{text-align:right;overflow:hidden;width:138px;margin-left:-10px;white-space:nowrap;margin-top:-2.1em;display:inline-block;vertical-align:top}
.nd-divider{width:100%;height:8px;background-color:#252525;margin:65px 0 50px}
.cont-small{width:1048px;margin-left:auto;margin-right:auto}
.page-heading{font-size:64px;font-weight:700;letter-spacing:-.045em}
.page-subheading{font-size:24px;line-height:36px;max-width:350px;color:#555}
.description-link{float:left;font-size:14px;color:#999;text-transform:uppercase;font-weight:700;width:225px;letter-spacing:.1em}
.description-link span:after{content:"+";font-size:19px;display:inline-block;vertical-align:middle;margin-left:5px;letter-spacing:.1em}
.nd-resume .head,.nd-resume-block .l{letter-spacing:-.045em;font-weight:700}
.description-link:hover{color:#000}
.nd-resume{background:url(../images/about-grid.svg) center repeat-y,center repeat-y #000;color:#fff;overflow:hidden;width:100%;padding:130px 0 150px}
.nd-resume .head{font-size:64px}
.nd-resume .head:after{width:150px;height:8px;content:"";background:#fff;display:block;margin-top:35px}
.nd-resume-block{float:left}
.nd-resume-blocks{margin-top:130px}
.nd-resume-block .l{font-size:160px;display:inline-block;vertical-align:top}
.nd-resume-block .info{display:inline-block;vertical-align:top;margin-left:48px}
.nd-resume-block .item{margin-top:10px}
.nd-resume-block .item:not(:first-child){margin-top:25px}
.nd-resume-block .year{font-size:16px;font-weight:700}
.nd-resume-block .what{font-size:16px;line-height:24px;color:#999;margin-top:13px}
.nd-resume-block:nth-child(2){margin-top:56px;margin-left:40px}
.nd-resume-block:nth-child(3){margin-left:205px;margin-top:20px}
.nd-resume-block:nth-child(3) .info{margin-left:38px}
.nd-resume-block:nth-child(4){margin-top:-40px}
.nd-resume-block:nth-child(4) .info{margin-left:39px}
.nd-resume-block:nth-child(5){margin-left:440px}
.nd-resume-block:nth-child(6){margin-left:75px;margin-top:-100px}
.nd-resume-block:nth-child(6) .info{margin-left:25px}
.nd-resume-block:nth-child(7){margin-left:513px;margin-top:50px}
.nd-resume-block:nth-child(7) .info{margin-left:40px}
.nd-gallery{margin-top:90px}
.nd-gallery-projects{-webkit-columns:3;-moz-columns:3;columns:3;-webkit-column-gap:75px;-moz-column-gap:75px;column-gap:75px}
.nd-gallery-projects .nd-info{background:0 0;padding-left:0}
.nd-gallery-projects .nd-image{position:relative}
.nd-gallery-projects .nd-image .category{position:absolute;bottom:15px;right:15px;font-size:12px;text-transform:uppercase;background:#fff;padding:8px 11px 6px}
.nd-gallery-projects .nd-project-item{margin-top:25px}
.nd-gallery-projects .nd-project-item img{transition:opacity .3s;-webkit-transform:translateZ(0);transform:translateZ(0);display:block}
.nd-filters{width:100%;margin:30px 0}
.nd-filters-one{width:75px;float:left;font-size:14px;color:#999}
.nd-filters-one:hover{color:#333}
.nd-filters-one.is-active{color:#000;position:relative}
.nd-filters-one.is-active:after{position:absolute;top:86%;left:0;content:"";margin-top:10px;height:2px;width:50px;background:#000}
.nd-pagination{padding:30px 0;background:#f9f9f9;text-align:center;margin-top:50px}
.nd-pagination a{border:2px solid;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;font-size:16px;padding-top:3px;height:50px}
.nd-pagination-text{font-size:12px!important;width:128px}
.nd-pagination-text.prev{float:left!important}
.nd-pagination-text.next{float:right!important}
.nd-pagination-text:hover{background:#000;color:#fff}
.nd-pagination-num{width:50px;margin:0 12px;color:#999;font-weight:700}
.nd-pagination-num:hover{color:#333}
.nd-pagination-num.is-active{background:#000;color:#fff}
.nd-pagination+.nd-footer{padding-top:60px}
.nd-galleryitem{margin-top:90px}
.nd-galleryitem-image{width:450px;float:left;margin-right:75px}
.nd-galleryitem-info{float:left;width:522px;margin-top:3px}
.nd-galleryitem-info .h{position:relative;display:inline-block}
.nd-galleryitem-info .h-wrap{padding-bottom:10px;border-bottom:4px solid #000}
.nd-galleryitem-info .h:before{content:"“";position:absolute;color:#ddd;left:-50px;top:-8px}
.nd-galleryitem-info .h:after{content:"”";position:absolute;color:#ddd;right:-45px;top:-8px}
#scrollbar .v,.dash-after:after,.nd-galleryitem_project .p-v-wrap:after{content:""}
.nd-galleryitem-info .p-v-wrap{padding:25px 0 50px;border-bottom:2px solid #000}
.nd-galleryitem_project .nd-galleryitem-info>.p-v-wrap,.nd-galleryitem_project .p-v-wrap{border:0!important}
.nd-galleryitem-info .p-v{margin-top:30px;line-height:24px}
.nd-galleryitem-info .p-v .p{width:149px;float:left;color:#999}
.nd-galleryitem-info .p-v .v{overflow:hidden}
.nd-galleryitem-info .p-v a{color:#999;font-weight:500}
.nd-galleryitem-info .p-v a:hover{color:#000}
.nd-galleryitem-share .p-v .p{width:119px}
.nd-galleryitem_project .nd-project-line{padding-left:0;padding-right:0}
.nd-galleryitem_project .nd-galleryitem-info{width:100%;float:none}
.nd-galleryitem_project .nd-galleryitem-info>.p-v-wrap:first-child{margin-top:65px}
.nd-galleryitem_project .nd-galleryitem-info>.p-v-wrap:first-child:before{display:block;width:674px;margin-left:auto;height:2px;background:#000;content:"";position:relative;top:-25px}
.nd-galleryitem_project .nd-galleryitem-info_title{width:674px;float:none}
.nd-galleryitem_project .nd-galleryitem-info_title .h-wrap{position:relative}
.nd-galleryitem_project .nd-galleryitem-info_title .category{position:absolute;left:-74px;bottom:-5px}
.nd-galleryitem_project .p-v-wrap:after{display:block;width:674px;margin-left:auto;height:2px;background:#000;position:relative;top:52px}
.category-text,.project-wrap{background:#f9f9f9;padding-bottom:60px}
.nd-galleryitem_project .nd-galleryitem-share .p{width:344px!important}
.project-wrap{margin-top:70px}
.project-wrap .nd-galleryitem{margin-top:80px}
.project-wrap .p-v .p{width:374px}
.project-wrap .p-v-wrap{width:100%}
.nd-sharebtn{font-size:16px;color:#000!important}
.nd-sharebtn:hover{opacity:.6}
.nd-sharebtn img{width:16px;display:inline-block;vertical-align:middle;margin-top:-.3em;margin-right:14px}
.nd-sharebtn-wrap+.nd-sharebtn-wrap{margin-top:10px}
.nd-category .nd-filters{margin:50px 0 30px}
.category-text{margin-top:60px}
.category-text .nd-divider{margin-bottom:70px;margin-top:-4px}
body::-webkit-scrollbar{width:0;height:0}
body::-webkit-scrollbar-track{background:0 0;width:0;height:0}
body::-webkit-scrollbar-thumb{background-color:transparent;outline:#708090 solid 0;width:0;height:0}
.dash-after{position:relative}
.dash-after:after{position:absolute;width:50px;height:2px;background:#000;right:10px;bottom:17px}
.s-wrap{position:relative}
.s-title{position:absolute;right:10px;-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg);-webkit-transform-origin:right center;-ms-transform-origin:right center;transform-origin:right center}
.s-title.s-hshow{margin-top:70px}
.s-title.s-contacts{margin-top:-50px}
.s-title.s-hgallery{margin-top:250px}
.s-title.s-cshow{margin-top:300px}
.s-title.s-about{margin-top:80px}
.cont-small .s-title{right:-107px}
.nd-resume .s-title{margin-top:-10px}
.h-etsy{float:right;margin-right:-1px}
.nd-btn_etsy{width:224.5px;display:inline-block;background:#000;color:#fff;line-height:48px;padding-top:2px;padding-left:20px;padding-right:17px;font-weight:700;font-size:16px;letter-spacing:-.05em;transition:border-radius .3s}
.nd-btn_etsy:hover{border-top-right-radius:40px;border-bottom-right-radius:40px}
.nd-btn_etsy .price{float:right;color:rgba(255,255,255,.5)}
.nd-btn_etsy.wo-price{width:auto}
.nd-hpage-works-one .nd-cover img,.nd-project-item img{width:100%}
#scrollbar{width:1px;background:rgba(0,0,0,.2);position:fixed;left:calc(50% + 670px);top:0;bottom:0;display:block}
#scrollbar .v{width:3px;background:#000;height:0;position:absolute;top:0;left:-1px}