@font-face {
  font-family: 'MaisonNeue-Bold';
  src: url('MaisonNeue-Bold.eot'); /* IE9 Compat Modes */
  src: url('MaisonNeue-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('MaisonNeue-Bold.woff') format('woff'), /* Modern Browsers */
       url('MaisonNeue-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('MaisonNeue-Bold.svg#d7515c8903f80839201eea94ef008f5e') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'MaisonNeue-Book';
  src: url('MaisonNeue-Book.eot'); /* IE9 Compat Modes */
  src: url('MaisonNeue-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('MaisonNeue-Book.woff') format('woff'), /* Modern Browsers */
       url('MaisonNeue-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('MaisonNeue-Book.svg#cfe9c4d435b13936a17ea5090528f1ab') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'MaisonNeue-Light';
  src: url('MaisonNeue-Light.eot'); /* IE9 Compat Modes */
  src: url('MaisonNeue-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('MaisonNeue-Light.woff') format('woff'), /* Modern Browsers */
       url('MaisonNeue-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('MaisonNeue-Light.svg#6f121ab30e14cbd298b48f56c3575fb7') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'MaisonNeue-Mono';
  src: url('MaisonNeue-Mono.eot'); /* IE9 Compat Modes */
  src: url('MaisonNeue-Mono.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('MaisonNeue-Mono.woff') format('woff'), /* Modern Browsers */
       url('MaisonNeue-Mono.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('MaisonNeue-Mono.svg#af2fa94b953e46dc77e59983b9e9c303') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

